numpy
imgui
ultralytics==8.3.78
glfw~=2.8.0
pyopengl~=3.1.7
moderngl~=5.11.1
imageio~=2.36.1
tqdm~=4.67.1
colorama~=0.4.6
opencv-python~=4.10.0.84
scipy~=1.15.1
scikit-learn>=1.0.0
simplification~=0.7.13
msgpack~=1.1.0
pillow~=11.1.0
orjson~=3.10.15
send2trash~=1.8.3
aiosqlite
